<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Fanlar</title>
</head>
<body>
    <h1>Fanlar</h1>

    <form method="get">
        <input type="text" name="search" placeholder="Fan nomi bo'yicha qidiring ..." size="25" {% if search %} value="{{ search }}" {% endif %}>
        <button type="submit">Qidirish</button>
    </form>
    <hr>

    <a href="/">Bosh sahifa</a>
    {% for subject in subjects %}
        <p>{{ forloop.counter }}.
            <a href="/subjects/{{ subject.id }}/">
                {{ subject.name }}
            </a>

            <a href="{% url 'subject-delete' subject.id %}">
                <button type="submit">O'chirish</button>
            </a>

            <a href="{% url 'subject-update' subject.id %}">
                <button>Tahrirlash</button>
            </a>
        </p>
    {% endfor %}

    <hr>
    <h3>Yangi fan qo'shish</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Yangi fanni saqlash</button>
    </form>
</body>
</html>
