<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>O'qituvchilar</title>
</head>
<body>
    <h1>O'qituvchilar</h1>
    <form method="get">
        <input type="text" name="search" placeholder="O'qituvchilar ismi bo'yicha qidiring ..." size="30" {% if search %} value="{{ search }}" {% endif %}>
        <button type="submit">Qidirish</button>
    </form>
    <hr>
    <a href="/">Bosh sahifa</a>
    {% for teacher in teachers %}
        <p>{{ forloop.counter }}.
            <a href="/teachers/{{ teacher.id }}/">
                {{ teacher.name }}
            </a>

            <a href="/teachers/{{ teacher.id }}/delete/confirm">
                <button>O'chirish</button>
            </a>

            <a href="{% url 'teacher-update' teacher.id %}">
                <button>Tahrirlash</button>
            </a>
        </p>
    {% endfor %}

    <hr>
    <h3>Yangi o'qituvchi qo'shish</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Yangi o'qituvchini saqlash</button>
    </form>
</body>
</html>
